
<div id="content">
<p id="notice"><%= notice %></p>

<aside>
	<%= image_tag @project.badge(:normal) %>
</aside>
<h2>
  <%= @project.title %>
</h2>


<% unless @project.video.blank? %>
	<p class="side_links">
		<%= link_to "Video", "http://www.youtube.com/watch?v=6TrJruAuWmM", :target=>"_blank" %>
	</p>
<% end %>

<p>Achievements logrados con la dinámica:</p>

<ul id="achievements">
	<% for goal in @project.goals do %>
		<li>
			-  <%= goal.name %>
		</li>
	<% end %>
</ul>

<% unless @project.id > 3 %>
	<%= link_to "Ver la App", app_path(@project.id), :class=>"app_link" %>
<% else %>
<p>Imágenes de la Aplicación:</p>
	<%= link_to image_tag("#{@project.image_one(:small)}"), @project.image_one.url(:normal), :class=>"proj_image", :target=>"_blank" %>
	<%= link_to image_tag("#{@project.image_one(:small)}"), @project.image_two.url(:normal), :class=>"proj_image", :target=>"_blank" %>
	<%= link_to image_tag("#{@project.image_one(:small)}"), @project.image_three.url(:normal), :class=>"proj_image", :target=>"_blank" %>
<% end %>
<%= link_to "Regresar", root_path, :class=>"basic_link" %>
</div>

