<!DOCTYPE html>
<html>
<head>
  <title>Fotport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= image_tag "header.png", :alt=>"503Estudio - Digitalizando tu marca" %>
	
	<nav>
		<ul>
			<li>
				<%= link_to "Inicio", root_path, :class => "link selected" %>
			</li>
			<li>
				<%= link_to "Contacto", contact_path, :class => "link" %>
			</li>
		</ul>
	</nav>

	
	
</header>

<section>
	<%= yield %>
</section>


</body>
</html>
